# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

# Attention: valid for K8s charms only

name: Terraform module tests

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "falco-operator/terraform/**"
      - "falcosidekick-operator/terraform/**"

jobs:
  terraform-tests:
    uses: canonical/operator-workflows/.github/workflows/terraform_modules_test.yaml@main
    secrets: inherit
    with:
      k8s-controller: true
      terraform-directories: '["terraform", "terraform-product"]'
